/* mobile.css */
@media (max-width: 480px) {
    .card {
      width: 95%;
      padding: 20px 15px;
    }
  
    .search {
        flex-direction: column;
        align-items: center; /* Center child elements */
        gap: 10px;
    }
  
    .search input {
        width: 100%;
        margin-right: 0;
        height: 50px;
        font-size: 16px;
    }
  
    .search button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .weather-icon {
      width: 130px;
      margin-top: 20px;
    }
  
    .weather h1 {
      font-size: 50px;
    }
  
    .weather h2 {
      font-size: 28px;
    }
  
    .details {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
  
    .col {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 10px;
        min-width: 140px;
    }
  
    .col img {
        margin: 0;
        width: 40px;
    }
  }
